
/*-----------------------phan menu--------------------*/
menu{
    width: 100%;

}
menu nav{
    width: 96%;
}
menu nav div ul li {
    font-weight: bold;
}
.a:hover{
    color:gainsboro;
    
}
.menucolor{
color:grey;
}
/*-----------------------banner--------------------*/

/*-----------------------main--------------------*/
main {
    background-color:whitesmoke;
    width: 91%;
    height: auto  ;
    margin-left: 4.5%;
}
.topmain{
    margin-top: 8%;
    width: 100%;
}
.img{
    width: 100%;
}
.fontgg{
    font-family: 'Dancing Script', cursive;

    font-size: 150%;
}
/*-----------------------footer--------------------*/
footer{
    width: 70%;
    height: auto;
    margin: 0 auto;
}

footer div div a{
    color:rgb(0, 183, 255);
}

footer div div a:link , a:hover{
    color:gainsboro;
}

.fontfooter{
    font-family: 'Dancing Script', cursive;;
    color:darkblue;
    font-size: 120%;
}

.topfooter{
    margin-top: 2%;
    border: 0px solid rgb(0, 0, 0);
}

@media only screen and (max-width: 768px) {
    footer{
        width: 70%;
        height: auto;
        margin: 0 auto;
        font-size: 70%;
    }
    .topfooter{
        margin-top: 2%;
        text-align: center;
    }
}
