
/*-----------------------phan menu--------------------*/
menu{
    width: 100%;

}
menu nav{
    width: 96%;
}
menu nav div ul li {
    font-weight: bold;
}
.a:hover{
    color:gainsboro;
    
}
.menucolor{
color:grey;
}
/*-----------------------banner--------------------*/
.bannercolor{
    color: aqua;
}
.fontbanner{
    font-weight:bold;
    font-family: 'Courier New', Courier, monospace;
    color: ghostwhite;
    font-size: 150%;
    position: absolute;
    margin-left: 5%;
    margin-top: 10%;
}
.imgbanner{
    background-image: url("hinhanh/banner.png" );
    background-size: 100%;
    width: 100%;
    height: 640px;
}
@media only screen and (max-width: 1100px) {
    .imgbanner {
      background-image: url("hinhanh/banner.png" ) ;
      background-size: 100%;
      width: 100%;
      height: 450px;     
    }   
    .fontbanner{
        color: white;
        font-family: 'Courier New', Courier, monospace;
        font-weight:bold;
        font-size: 100%;
        margin-top: 5%;
        margin-left: 5%;
    }
  }
  @media only screen and (max-width: 992px) {
    .imgbanner {
      background-image: url("hinhanh/banner.png" ) ;
      background-size: 100%;
      width: 100%;
      height: 400px;     
    }   
    .fontbanner{
        color: white;
        font-family: 'Courier New', Courier, monospace;
        font-weight:normal;
        font-size: 100%;
        margin-top: 4%;
        margin-left: 4%;
    }
  }
  @media only screen and (max-width: 768px) {
    .imgbanner {
      background-image: url("hinhanh/banner.png" ) ;
      background-size: 100%;
      width: 100%;
      height: 250px;     
    }   
    .fontbanner{
        color: white;
        font-family: 'Courier New', Courier, monospace;
        font-weight:normal;
        font-size: 65%;
        margin-top: 2%;
        margin-left: 2%;
    }
  }
/*-----------------------footer--------------------*/
footer{
    width: 91%;
    height: auto;
    margin-left: 5%;
}
footer div div a{
    color:rgb(0, 183, 255);
}
footer div div a:link , a:hover{
    text-decoration: none;
    color:gainsboro;
}
.topfooter{
    margin-top: 2%;
}
@media only screen and (max-width: 768px) {
    footer{
        width: 91%;
        height: auto;
        margin-left: 20%;
        font-size: 70%;
    }
}
